# Response file for the SAS Deployment Wizard
# Created: Apr 22, 2019 7:19:55 PM
#
# Responses with multiple options are separated with / characters.

# Select Deployment Task
# Select the deployment task you would like to perform.
#START_TASK=install/depot/manage
 START_TASK=install

# Specify SAS Home
# Specify the location where SAS software will be installed on this machine.
#SAS_HOME=<full path>
 SAS_HOME=/usr/local/SASHome

# Select Deployment Type
# Select the type of deployment you want to perform.
#DEPLOYMENT_TYPE=planned/nonplanned/additional
 DEPLOYMENT_TYPE=planned
#PLANNED_INSTALL=yes/no
 PLANNED_INSTALL=yes
#PLANNED_CONFIGURE=yes/no
 PLANNED_CONFIGURE=no

# Specify Deployment Plan
# Specify a customized or standard deployment plan.
#PLAN_TYPE=customized/standard
 PLAN_TYPE=customized
#CUSTOMIZED_PLAN_PATH=<full path - only if PLAN_TYPE=customized>
 CUSTOMIZED_PLAN_PATH=/sas/{{ SASSoftwareDepotName }}/plan_files/final_plan_meta_only.xml

#STANDARD_PLAN_NAME=<standard plan name - only if PLAN_TYPE=standard>
 STANDARD_PLAN_NAME=

# Select Products to Install
# Select the products you want to install on this machine.
#MACHINE_SELECTION=<machine name>
# or
#MACHINE_SELECTION=step <#>
 MACHINE_SELECTION=Middle Tier
 PRODUCT_SELECTION1=deployagent
 PRODUCT_SELECTION2=deployagtclt
 PRODUCT_SELECTION3=webinfdsvr
 PRODUCT_SELECTION4=platfmltypes
 PRODUCT_SELECTION5=mgmtconsole
 PRODUCT_SELECTION6=webinfdsvrc
 PRODUCT_SELECTION7=dprosmc
 PRODUCT_SELECTION8=sgmgadmincli
 PRODUCT_SELECTION9=webinfdjdbc
 PRODUCT_SELECTION10=tcsvr
 PRODUCT_SELECTION11=jps
 PRODUCT_SELECTION12=webinfpltfm
 PRODUCT_SELECTION13=themes
 PRODUCT_SELECTION14=admappmid
 PRODUCT_SELECTION15=svrbakupevm
 PRODUCT_SELECTION16=secadminevm
 PRODUCT_SELECTION17=webdoc
 PRODUCT_SELECTION18=biservmid
 PRODUCT_SELECTION19=svrbakevmdoc
 PRODUCT_SELECTION20=admappmiddoc
 PRODUCT_SELECTION21=webinfplfdoc
 PRODUCT_SELECTION22=admapplibevm
 PRODUCT_SELECTION23=admappsvrevm
 PRODUCT_SELECTION24=admappusrevm
 PRODUCT_SELECTION25=studiomid
 PRODUCT_SELECTION26=evmgrpinfnd
 PRODUCT_SELECTION27=hypericsvr
 PRODUCT_SELECTION28=evmkitevp
 PRODUCT_SELECTION29=hyperagnt
 PRODUCT_SELECTION30=evmclient
 PRODUCT_SELECTION31=dproclient
 PRODUCT_SELECTION32=ttfontsvert
 PRODUCT_SELECTION33=certframe

# Specify SAS Installation Data File
# Specify the full path to your SAS installation data file.
#SAS_INSTALLATION_DATA=<full path to file>
 SAS_INSTALLATION_DATA=/sas/{{ SASSoftwareDepotName }}/sid_files/{{ SASLicenseMeta }}

# Select Regional Settings
# Select the appropriate regional settings for your SAS software.
#REGION_SETTING=<region setting code>
 REGION_SETTING=en_US
#UNICODE_SERVER=yes/no
 UNICODE_SERVER=no

# Select Authentication Type
# Select the type of authentication for this system.
#sasinstall.use.pam=yes/no
 sasinstall.use.pam=no

# Select Support Option
# Select the support option you want to use.
#SEND_SUPPORT_LOG_TO_SAS=yes/no
 SEND_SUPPORT_LOG_TO_SAS=no
